<style>
    

    #individualBox {
        display: flex;
        padding: 10px;
    }

    .lastplayedlist {
        display: flex;
        justify-content: space-between;
    }
</style>


<div class="lastplayedlist" id="lastplayedlist">
</div>



