<style>
    .forwardback{
        background-color:black;
        color: white;
    }

    .forwardback button{
        border-radius:25px;
        align-content:center;
        background-color:black;
        color:white;
    }
    .bomba{
        display: flex;
        padding: 10px;

    }

    .lastplayedlist{
        display: flex;
        justify-content: space-between;
    }
</style>

<div>

    <div class="forwardback">
        <button onclick="GetToday()"><i class='bx bx-left-arrow-alt'></i></button>
        <button><i class='bx bx-right-arrow-alt'></i></button>
    </div>

    <div style="color:white; font-size:x-large; font-weight:bold;">
        <p id="howgood"></p>
    </div>
   

    <div class="lastplayedlist">
        @for (int i = 0; i < 6; i++)
        {
            <div class="bomba">
                <img>
                <h1>Playlist @i</h1>
            </div>
        }
    </div>
 

</div>

<script>
    function GetToday() {
        var currentTime = new Date();
        var currentHour = currentTime.getHours();
        var howgood = document.getElementById("howgood");

        if (currentHour >= 0 && currentHour <= 11) {
            howgood.textContent = "Good Morning";
            console.log("Good Morning");
        } else if (currentHour >= 12 && currentHour <= 18) {
            howgood.textContent = "Good Afternoon";
            console.log("afternoon");
        } else if (currentHour >= 19 && currentHour <= 24) {
            howgood.textContent = "Good Evening";
            console.log("evening")
        }
    }
    window.onload = GetToday;
</script>

