<style>
    .forwardback {
        background-color: black;
        color: white;
    }

        .forwardback button {
            border-radius: 25px;
            align-content: center;
            background-color: black;
            color: white;
        }

    #individualBox {
        display: flex;
        padding: 10px;
    }

    .lastplayedlist {
        display: flex;
        justify-content: space-between;
    }
</style>

<div>

    <div class="forwardback">
        <button onclick="GetToday()"><i class='bx bx-left-arrow-alt'></i></button>
        <button><i class='bx bx-right-arrow-alt'></i></button>
    </div>

    <div style="color:white; font-size:x-large; font-weight:bold;">
        <p id="howgood"></p>
    </div>


    <div class="lastplayedlist" id="lastplayedlist">

    </div>

</div>

