<div>
    <input name="email" />
    <input name="password" />
    <button onclick="Login(document.querySelector('[name=email]').value, document.querySelector('[name=password]').value)">Login</button>
</div>
