<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SpotifyClone.Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SpotifyClone.Client.styles.css" asp-append-version="true" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body style="background-color:black;">
    <div class="topbar">
        <div class="topbar-content">

            <div class="forwardback">
                <button><i class='bx bx-left-arrow-alt'></i></button>
                <button><i class='bx bx-right-arrow-alt'></i></button>
            </div>
            <div style="color: white; font-size: x-large; font-weight: bold;">
                <p id="howgood"></p>
            </div>
            <div id="loginbuttons" style="color:white;">
                <button onclick="GoToThatPage(`Login`)">Login</button>
                <button onclick="GoToThatPage(`Login`)">Register</button>
            </div>
        </div>
    </div>

    <div id="sidenav">
        <div class="sidenav-content">
            <div style=" border-radius: 25px;">
                <label style="color:gray;"><a> <i class='bx bx-home'></i>Home</a></label>
                <br />
                <label style="color:gray;"><a><i class='bx bx-search'></i> Search</a></label>
            </div>

            <div id="userPanel" class="userPanel">
                <br />
                <label style="color:gray;"><a><i class='bx bx-library'></i>Your Library</a></label>

                <div class="selectionpanel">
                    <br />
                    <button style="text-align:center;">Playlists</button>
                    <button>Podcasts & Shows</button>
                    <button>Albums</button>
                </div> 
                <button style="background-color:transparent; color:gray;" onclick="UnDisplay()"><i class='bx bx-search'></i></button>
                <input style=" border-radius: 25px; background-color:gray; color:white;" id="searchpl" />
                <br />
                <div class="playlists" id="playlists" onload="GetUserPlayLists()">
                    <div class="gap-5">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/user.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>



    </script>
</body>

</html>

